<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container-fluid align-self-end">
    <p-panel header="Двухэтапная авторизация">
        <p-tabView>
            <p-tabPanel header="Вход">
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-1 offset-md-2">
                        <div *ngIf="!authService.codeMode">
                            <form (ngSubmit)="onSignin2(f)" #f="ngForm">
                                <div class="form-group">
                                    <label for="login">Пользователь</label>
                                    <input type="text" id="login" name="login" ngModel class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Пароль</label>
                                    <input
                                            type="password"
                                            id="password"
                                            name="password"
                                            ngModel
                                            class="form-control">
                                </div>
                                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Войти</button>
                            </form>
                        </div>

                        <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-1 offset-md-1"
                             *ngIf="authService.codeMode">
                            <form (ngSubmit)="onCodeSubmit(f)" #f="ngForm">
                                <div class="form-group">
                                    <label for="secretCode">Введите код, отправленный Вам на почту</label>
                                    <input type="text" id="secretCode" name="secretCode" ngModel class="form-control">
                                </div>


                                <button class="btn btn-success" type="submit" [disabled]="!f.valid">Подтвердить</button>

                                <button class="btn btn-outline-secondary ml-auto" type="button" (click)="returnToLogin()">Вернуться к
                                    вводу пароля</button>

                            </form>
                        </div>
                    </div>
                </div>
            </p-tabPanel>


            <p-tabPanel header="Схема взаимодействия">
                <img class="img-fluid" id="scheme-auth" src="assets/images/scheme-auth.png">
            </p-tabPanel>
            <p-tabPanel header="Инфрастуктура">
                <img class="img-fluid" id="infr-auth" src="assets/images/infr-auth.png">
            </p-tabPanel>
            <p-tabPanel header="Swagger">
                <div class="embed-responsive embed-responsive-16by9 e2e-trusted-url">
                    <iframe class="embed-responsive-item"
                            [src]="trustedSwaggerUrl"></iframe>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p-panel>
</div>