<p>
    Список микросервисов
</p>
<p-dataView [value]="microservices">
    <ng-template let-service pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-2 ui-md-2" style="text-align:center; width: 7%">
                <img src="assets/images/openshift/{{service.type}}.svg">
            </div>
            <div class="ui-g-4 ui-sm-8 ui-g-offset-1">
                <div class="row">
                    Наименование:<b>{{service.name}}</b>
                </div>
                <div class="row">
                    Описание: <b>{{service.description}}</b>
                </div>
                <div class="row">
                    Тип: <b>{{service.type}}</b>
                </div>
            </div>
            <div class="ui-g-4 ui-sm-6">
                <p-table [responsive]="true"
                         [value]="service?.resources"
                         class="table table-striped table-dark"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col-sm">Среда</th>
                            <th scope="col-sm">Cores</th>
                            <th scope="col-sm">Memory</th>
                            <th scope="col-sm">PV</th>
                            <th scope="col-sm">Cost</th>
                        </tr>
                    </ng-template>
                    <ng-template let-res pTemplate="body">
                        <tr>
                            <td>{{res.stage}}</td>
                            <td>{{res.cores}}</td>
                            <td>{{res.memory}}</td>
                            <td>{{res.pv}}</td>
                            <td>1 руб.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="ui-g-2 ui-sm-6">
                <div>
                    <p-button (onClick)="show(service)"
                              icon="pi pi-eye"
                              pTooltip="Просмотр" tooltipPosition="left"></p-button>
                </div>

                <div>
                    <p-button (onClick)="add(service.id)"
                              icon="pi pi-plus"
                              pTooltip="Добавить" tooltipPosition="left"></p-button>
                </div>
                <div>
                    <p-button (onClick)="edit(service)"
                              icon="pi pi-pencil"
                              pTooltip="Редактировать" tooltipPosition="left"></p-button>
                </div>
                <div>
                    <p-button (onClick)="share(service.id)"
                              icon="pi pi-share-alt"
                              pTooltip="Привязать к системе" tooltipPosition="left"></p-button>
                </div>
                <div>
                    <p-button (onClick)="delete(service.id)"
                              icon="pi pi-times"
                              pTooltip="Удалить" tooltipPosition="left"></p-button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="showEditorForm"
          [width]="700"
          header="Микросервис"
          positionLeft="100"
          positionTop="50"
>
    <table *ngIf="selectedService" class="table">
        <tbody>
        <tr >
            <td>ID</td>
            <td>{{selectedService.id}}</td>
        </tr>
        <tr>
            <td>Наименование</td>
            <td>
                <input type="text" size="50" pInputText [(ngModel)]="selectedService.name" [disabled]="blockEditorForm"/>
            </td>
        </tr>
        <tr>
            <td>Описание</td>
            <textarea pInputTextarea
                      [(ngModel)]="selectedService.description"
                      [disabled]="blockEditorForm"
                      [rows]="3" [cols]="50">
            </textarea>
        </tr>
        <tr>
            <td>Тип</td>
            <td>
                <input type="text" size="50" pInputText [(ngModel)]="selectedService.type" [disabled]="blockEditorForm"/>
            </td>
        </tr>
        <tr>
            <td>Среда</td>
            <td>
                <input type="text" size="50" pInputText [(ngModel)]="selectedService.stage" [disabled]="blockEditorForm"/>
            </td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>
                <input type="text" size="50" pInputText [(ngModel)]="selectedService.status" [disabled]="blockEditorForm"/>
            </td>
        </tr>
        </tbody>
    </table>

    <table *ngIf="selectedService?.resources" class="table">
    <thead>
        <tr>
            <td>Cores</td>
            <td>Memory</td>
            <td>PV</td>
            <td>Cost</td>
        </tr>
    </thead>
        <tbody *ngFor="let res of selectedService?.resources">
        <tr>
            <td>{{res.cores}}</td>
            <td>{{res.memory}}</td>
            <td>{{res.pv}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-outline-success ml-auto" type="button" (click)="saveSelected()">Сохранить</button>
</p-dialog>