<!--<div class="row">-->
    <!--<p-panel class="col" header="WIKI ESB" toggleable="true">-->
        <!--<p-tabView>-->
            <!--<p-tabPanel header="Оглавление">-->
                <!--<p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>-->
            <!--</p-tabPanel>-->

        <!--</p-tabView>-->

        <!--Content-->
    <!--</p-panel>-->
    <!--<p-panel class="col-9" header="Описание">-->
        <!--Сдесь будет описание-->
    <!--</p-panel>-->
<!--</div>-->
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h4>WIKI BUS</h4>
            <ul class="nav nav-pills navbar-text">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wiki/esb" routerLinkActive="active">ESB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wiki/stack" routerLinkActive="active">Стэк технологий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wiki/systems" routerLinkActive="active">Дорожная карта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wiki/microservices" routerLinkActive="active">Микросервисы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wiki/infrastructure" routerLinkActive="active">Инфраструктура</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wiki/crt" routerLinkActive="active">Сертификаты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wiki/metrics" routerLinkActive="active">Метрики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wiki/requiments" routerLinkActive="active">Требования к интеграции</a>
                </li>
            </ul><br>
        </div>

        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

