<div class="container-fluid align-self-end">
  <p-panel header="Система мониторинга">
    <p-tabView>
      <p-tabPanel header="Интеграционные тесты">
        <h6>Сдесь должны онлайн отображаться результаты выполнения интеграционных тестов и health запросов</h6>
      </p-tabPanel>
      <p-tabPanel header="Grafana DMZ">
        <iframe class="embed-responsive-item"
                src="https://grafana-openshift-grafana.dmz-apps.demo.rht.ru/?orgId=1"></iframe>
      </p-tabPanel>
      <p-tabPanel header="Grafana KSPD">
        <iframe class="embed-responsive-item"
                src="https://grafana-openshift-grafana.kspd-apps.demo.rht.ru/?orgId=1"></iframe>
      </p-tabPanel>
    </p-tabView>
  </p-panel>
</div>