<p>
  <b>Метрики команды ESB</b>
</p>


<table class="table table-hover">
  <thead>
  <tr>
    <th>Метрика</th>
    <th>Описание</th>
    <th pTooltip="Business value - полезность для бизнеса" tooltipPosition="left">BV</th>
    <th pTooltip="Technical value - полезность для команды разработки" tooltipPosition="left">TV</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Синхронные/асинхронные</td>
    <td>Соотношение синхронных и асинхронных взаимодействия</td>
    <td>5</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Сервисов на точку интеграции</td>
    <td>Показывает сколько раз переиспользуется один и тот же сервис разными системами</td>
    <td>5</td>
    <td>8</td>
  </tr>
  <tr>
    <td>Количество точек интеграции</td>
    <td>Общее количество сервисов</td>
    <td>10</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Время обработки запроса</td>
    <td>Среднее время обработки одного запроса для каждого сервиса</td>
    <td>8</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Сложность</td>
    <td>Коэффициент учитывающий сложность взаимодействия</td>
    <td>2</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Проверки жизнеспособности</td>
    <td>Количество правил проверок работоспособности и доступности сервисов</td>
    <td>8</td>
    <td>8</td>
  </tr>
  <tr>
    <td>Количество сокращенных серверов в DMZ сегменте</td>
    <td>Количество серверов, замещенных механизмами шины</td>
    <td>10</td>
    <td>10</td>
  </tr>

  </tbody>
</table>