.ui-table .ui-table-frozen-view .ui-table-tbody > tr > td,
.ui-table .ui-table-unfrozen-view .ui-table-tbody > tr > td {
    height: 160px !important;
}

.header-height {
    height: 167px;
}

.mc-btn-padding {
    padding-left: 20px;
}

.ng-invalid.ng-touched  {
    border-left: 5px solid #a94442; /* red */
}

.red-mes {
    color: #cc0000;
}