<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container-fluid align-self-end">
    <p-panel header="Получение данных из Мобильной карты">
        <p-tabView>
            <p-tabPanel header="Сменный отчет">
                <div class="row">
                    <div class="col-sm-2"></div>

                </div>
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <p-table (onRowSelect)="validate(f)"
                             id="azs_table"
                             selectionMode="single"
                             [(selection)]="selectedAzs"
                             [paginator]="true"
                             [responsive]="true"
                             [rowsPerPageOptions]="[5,10,20,50]"
                             [rows]="5"
                             [value]="azsList"
                             *ngIf="azsList"
                             dataKey="number"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col-sm">ID</th>
                                <th scope="col-sm">Номер АЗС</th>
                            </tr>
                        </ng-template>
                        <ng-template let-azs let-rowIndex="ID" pTemplate="body">
                            <tr [pSelectableRow]="azs">
                                <td>{{azs.id}}</td>
                                <td>{{azs.number}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <span class="red-mes" *ngIf="azsList && !selectedAzs">Выберите АЗС!</span>

                    <div class="row">

                        <label class="col-sm-12 col-md-6 text-center">Начало периода: </label>
                        <div class="form-group">
                            <p-calendar [(ngModel)]="startDate"
                                        name="startDate"
                                        class="col-sm-12 col-md-6 mc-elements"
                                        showIcon="true"
                                        required="true"
                                        dateFormat="dd.mm.yy"></p-calendar>
                        </div>
                        <label class="col-sm-12 col-md-6 text-center">Окончание периода: </label>
                        <div class="form-group">
                            <p-calendar [(ngModel)]="endDate"
                                        name="endDate"
                                        class="col-sm-12 col-md-6 mc-elements"
                                        showIcon="true"
                                        required="true"
                                        dateFormat="dd.mm.yy"></p-calendar>
                        </div>
                    </div>
                    <div class="row">
                        <span   class="col-sm-6 col-md-6 col-lg-6"></span>
                        <span   class="red-mes"
                                *ngIf="!startDate && !endDate">Выберите период</span>
                    </div>

                    <div class="row">
                        <span class="col-sm-6 col-md-6 col-lg-6"></span>
                        <button name="Submit"
                                type="submit"
                                [disabled]="!f.valid"
                                class="col-sm-12 col-md-6  col-lg-2 btn btn-outline-success"> Получить смены
                        </button>

                        <!--<p-button (onClick)="getAzsList($event)"-->
                        <!--class="col-sm-12 col-md-6"-->
                        <!--label="Обновить список АЗС"-->
                        <!--styleClass="ui-button-info"></p-button>-->
                    </div>

                </form>


                <p-table (onRowSelect)="onShiftSelect($event)"
                         selectionMode="single"
                         [(selection)]="selectedShift"
                         [paginator]="true"
                         [responsive]="true"
                         [rowsPerPageOptions]="[5,10,20,50]"
                         [rows]="5"
                         [value]="shiftList"
                         *ngIf="shiftList"
                         dataKey="id"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col-sm">ID</th>
                            <th scope="col-sm">Пользователь</th>
                            <th scope="col-sm">Начало</th>
                            <th scope="col-sm">Окончание</th>
                        </tr>
                    </ng-template>
                    <ng-template let-shift let-rowIndex="ID" pTemplate="body">
                        <tr [pSelectableRow]="shift">
                            <td>{{shift.id}}</td>
                            <td>{{shift.userName}}</td>
                            <td>{{shift.dateBeg  | date}}</td>
                            <td>{{shift.dateEnd  | date}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-dialog [(visible)]="reportDialogVisible"
                          [width]="1200"
                          header="Отчет по смене  {{selectedShift?.id}}"
                          positionLeft="100"
                          positionTop="50"
                >
                    <div class="row">
                        <label class="control-label col-sm-2">Операторы: {{report?.username}}</label>
                    </div>

                    <p-accordion>
                        <p-accordionTab [selected]="true" header="Отделы">
                            <p-table *ngIf="report?.dept"
                                     [responsive]="true"
                                     [value]="report?.dept"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col-sm">ID</th>
                                        <th scope="col-sm">Сумма за наличный расчет</th>
                                        <th scope="col-sm">Сумма кредит</th>
                                        <th scope="col-sm">Наименование отдела</th>
                                        <th scope="col-sm">Сумма за безналичный расчет</th>
                                        <th scope="col-sm">Порядок в метагруппе отчета</th>
                                        <th scope="col-sm">Номер метагруппы показателей в отчете</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-dept pTemplate="body">
                                    <tr>
                                        <td>{{dept.id}}</td>
                                        <td>{{dept.cashPay}}</td>
                                        <td>{{dept.creditPay}}</td>
                                        <td>{{dept.deptName}}</td>
                                        <td>{{dept.nonCashPay}}</td>
                                        <td>{{dept.orderNo}}</td>
                                        <td>{{dept.mGroupNo}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>

                        <p-accordionTab header="Z отчеты по ФР">
                            <p-table *ngIf="report?.ecrZnums"
                                     [responsive]="true"
                                     [value]="report?.ecrZnums"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col-sm">ID</th>
                                        <th scope="col-sm">Сумма в кассе</th>
                                        <th scope="col-sm">Сумма возвратов денежных средств покупателям</th>
                                        <th scope="col-sm">Сумма инкассаций</th>
                                        <th scope="col-sm">Дата и время получения Z-отчета</th>
                                        <th scope="col-sm">Сумма внесений в кассу</th>
                                        <th scope="col-sm">Сумма продаж</th>
                                        <th scope="col-sm">Серийный номер ФР</th>
                                        <th scope="col-sm">Номер Z-отчета</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-znum pTemplate="body">
                                    <tr>
                                        <td>{{znum.id}}</td>
                                        <td>{{znum.amountinCash}}</td>
                                        <td>{{znum.cashBackSum}}</td>
                                        <td>{{znum.collectionSum}}</td>
                                        <td>{{znum.dateTime | date}}</td>
                                        <td>{{znum.deposition}}</td>
                                        <td>{{znum.saleSum}}</td>
                                        <td>{{znum.serialNumber}}</td>
                                        <td>{{znum.nZrep}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>

                        <p-accordionTab header="Расход">
                            <p-table *ngIf="report?.expense"
                                     [responsive]="true"
                                     [value]="report?.expense"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col-sm">ID</th>
                                        <th scope="col-sm">Наименование Товара</th>
                                        <th scope="col-sm">Остаток (на конец смены) в миллилитрах</th>
                                        <th scope="col-sm">Идентификатор товара</th>
                                        <th scope="col-sm">Порядок в отчете</th>
                                        <th scope="col-sm">Тип расчета</th>
                                        <th scope="col-sm">Наименование типа оплаты</th>
                                        <th scope="col-sm">Код типа оплаты</th>
                                        <th scope="col-sm">Реализация в разменной денежной единице</th>
                                        <th scope="col-sm">Реализация в миллилитрах</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-expense pTemplate="body">
                                    <tr>
                                        <td>{{expense.id}}</td>
                                        <td>{{expense.articleName}}</td>
                                        <td>{{expense.endRestVol}}</td>
                                        <td>{{expense.externalStrID}}</td>
                                        <td>{{expense.orderNo}}</td>
                                        <td>{{expense.payType}}</td>
                                        <td>{{expense.payTypeName}}</td>
                                        <td>{{expense.paytypeID}}</td>
                                        <td>{{expense.saleMon}}</td>
                                        <td>{{expense.saleVol}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>

                        <p-accordionTab header="Сальдо">
                            <p-table *ngIf="report?.saldo"
                                     [responsive]="true"
                                     [value]="report?.saldo"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col-sm">ID</th>
                                        <th scope="col-sm">Наименование типа сальдо</th>
                                        <th scope="col-sm">Сумма в разменной денежной единице</th>
                                        <th scope="col-sm">Маркер назначения записи</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-saldo pTemplate="body">
                                    <tr>
                                        <td>{{saldo.id}}</td>
                                        <td>{{saldo.nameSaldo}}</td>
                                        <td>{{saldo.saldoMon}}</td>
                                        <td>{{saldo.st5Key}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>

                        <p-accordionTab header="Остатки">
                            <p-table *ngIf="report?.trk"
                                     [value]="report?.trk"
                                     [scrollable]="true"
                                     [style]="{width:'4200px'}"
                                     scrollHeight="200px"

                            >


                                <ng-template pTemplate="header">
                                    <tr class="header-height">
                                        <th>ID</th>
                                        <th>Наименование Товара</th>
                                        <th>Книжный остаток на начало смены в литрах</th>
                                        <th>Книжный остаток на начало смены в килограммах</th>
                                        <th>Значение счетчика на начало смены</th>
                                        <th>Фактический остаток на начало смены в литрах</th>
                                        <th>Фактический остаток на начало смены в килограммах</th>
                                        <th scope="col-sm">Книжный расход в литрах</th>
                                        <th scope="col-sm">Общий уровень в миллиметрах</th>
                                        <th scope="col-sm">Недостача в килограммах</th>
                                        <th scope="col-sm">Недостача в литрах</th>
                                        <th scope="col-sm">Книжный остаток на конец смены в литрах</th>
                                        <th scope="col-sm">Книжный остаток на конец смены в килограммах</th>
                                        <th scope="col-sm">Значение счетчика на конец смены</th>
                                        <th scope="col-sm">Фактический остаток на конец смены в литрах</th>
                                        <th scope="col-sm">Фактический остаток на конец смены в килограммах</th>
                                        <th scope="col-sm">Погрешность носа в миллилитрах</th>
                                        <th scope="col-sm">Относительная погрешность носа в процентах</th>
                                        <th scope="col-sm">Расход в килограммах</th>
                                        <th scope="col-sm">Расход в литрах</th>
                                        <th scope="col-sm">Внешний код Товара</th>
                                        <th scope="col-sm">Комментарии к не валидным фактическим показателям</th>
                                        <th scope="col-sm">Объем мерника в литрах</th>
                                        <th scope="col-sm">Номер РК</th>
                                        <th scope="col-sm">Масса НП в трубопроводе в граммах</th>
                                        <th scope="col-sm">Объем НП в трубопроводе в литрах</th>
                                        <th scope="col-sm">Поступление НП за смену в граммах</th>
                                        <th scope="col-sm">Поступление НП за смену в миллилитрах</th>
                                        <th scope="col-sm">Перемещение в граммах</th>
                                        <th scope="col-sm">Перемещение в миллилитрах</th>
                                        <th scope="col-sm">Излишки в граммах</th>
                                        <th scope="col-sm">Излишки в миллилитрах</th>
                                        <th scope="col-sm">Плотность НП в резервуаре на конец периода в граммах на
                                            сантиметр кубический
                                        </th>
                                        <th scope="col-sm">Идентификатор резервуара, не является наименованием (номером)
                                            резервуара на АЗК
                                        </th>
                                        <th scope="col-sm">Наименование резервуара на АЗК</th>
                                        <th scope="col-sm">Номер ТРК</th>
                                        <th scope="col-sm">Уровень подтоварной воды в миллиметрах</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-trk pTemplate="body">
                                    <tr>
                                        <td>{{trk.id}}</td>
                                        <td>{{trk.articleName}}</td>
                                        <td>{{trk.beginBookRest}}</td>
                                        <td>{{trk.beginBookRestMass}}</td>
                                        <td>{{trk.beginCounter}}</td>
                                        <td>{{trk.beginFactRest}}</td>
                                        <td>{{trk.beginFactRestMass}}</td>
                                        <td>{{trk.bookExpenseVol}}</td>
                                        <td>{{trk.commonLev}}</td>
                                        <td>{{trk.deficitMass}}</td>
                                        <td>{{trk.deficitVol}}</td>
                                        <td>{{trk.endBookRest}}</td>
                                        <td>{{trk.endBookRestMass}}</td>
                                        <td>{{trk.endCounter}}</td>
                                        <td>{{trk.endFactRest}}</td>
                                        <td>{{trk.endFactRestMass}}</td>
                                        <td>{{trk.errorNozzle}}</td>
                                        <td>{{trk.errorNozzleRel}}</td>
                                        <td>{{trk.expenseMass}}</td>
                                        <td>{{trk.expenseVol}}</td>
                                        <td>{{trk.externalStrID}}</td>
                                        <td>{{trk.measurementMsg}}</td>
                                        <td>{{trk.mernikVol}}</td>
                                        <td>{{trk.nozzle}}</td>
                                        <td>{{trk.pipeMass}}</td>
                                        <td>{{trk.pipeVol}}</td>
                                        <td>{{trk.receipMmass}}</td>
                                        <td>{{trk.receipt}}</td>
                                        <td>{{trk.relocMass}}</td>
                                        <td>{{trk.relocVol}}</td>
                                        <td>{{trk.surplusMass}}</td>
                                        <td>{{trk.surplusVol}}</td>
                                        <td>{{trk.tankDensity}}</td>
                                        <td>{{trk.tankID}}</td>
                                        <td>{{trk.tankName}}</td>
                                        <td>{{trk.trkNo}}</td>
                                        <td>{{trk.waterLev}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>

                    </p-accordion>
                </p-dialog>
            </p-tabPanel>
            <p-tabPanel header="Схема взаимодействия">
                <img class="img-fluid" id="scheme-mc-azsReport" src="assets/images/scheme-mc.png">
            </p-tabPanel>
            <p-tabPanel header="Инфраструктура">
                <img class="img-fluid" id="scheme-infr" src="assets/images/infr-mc.png">
            </p-tabPanel>
            <p-tabPanel header="Swagger">
                <div class="embed-responsive embed-responsive-16by9 e2e-trusted-url">
                    <iframe class="embed-responsive-item"
                            [src]="trustedSwaggerUrl"></iframe>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p-panel>
</div>