<div class = "row">
    <!--<input id="cpel" type="text" pInputText [(ngModel)]="inputText"/>-->
    <label class="command">{{inputText}}</label>
    <p-button (onClick)="copypaste(inputText)"
        icon="pi pi-copy"
        pTooltip="скопировать команду"
        tooltipPosition="top"
              style="padding-left: 10px"
        styleClass=" btn btn-outline-info"></p-button>
</div>