<p>
    Дорожная карта интегрируемых систем
</p>
<p-dataView [value]="systems">
    <ng-template let-system pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-2 ui-sm-6">Наименование: </div>
            <div class="ui-g-10 ui-sm-6"><b>{{system.name}}</b></div>

            <div class="ui-g-2 ui-sm-6">Описание: </div>
            <div class="ui-g-10 ui-sm-6"><b>{{system.description}}</b></div>

            <div class="ui-g-2 ui-sm-6">Ожидание: </div>
            <div class="ui-g-10 ui-sm-6"><b>{{system.expectedTime}}</b></div>

            <div class="ui-g-2 ui-sm-6">Микросервисы: </div>
            <div class="ui-g-10 ui-sm-6"><b>{{system.status | statuspipe}}</b></div>

            <p-steps [model]="items"  [(activeIndex)]="system.stage" [readonly]="false"></p-steps>
        </div>
    </ng-template>
</p-dataView>