<html>
<head>

</head>
<body>
<h2>Авторизация прошла успешно</h2>
<!--<p-button (onClick)="auth()"> КНОПКА</p-button>-->
<p>Добро пожаловать! {{userInfo?.given_name}} {{userInfo?.family_name}}</p>

<h1>Ваш логин: {{userInfo?.preferred_username}}</h1>
<h1>Телефон: {{userInfo?.phone}}</h1>
<h1>{{userInfo?.email}}</h1>

</body>
</html>
