<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container-fluid align-self-end">
  <p-panel header="Авторизация в DMZ">
    <p-tabView>
      <p-tabPanel header="Вход">
        <div class="row">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-1 offset-md-2">
            <form (ngSubmit)="onSignin(f)" #f="ngForm">
              <div class="form-group">
                <label for="email">Пользователь</label>
                <input type="email" id="email" name="email" ngModel class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Пароль</label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        ngModel
                        class="form-control">
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Войти</button>
            </form>
          </div>
        </div>
      </p-tabPanel>


      <p-tabPanel header="Схема взаимодействия">
        <img class="img-fluid" id="scheme-auth" src="assets/images/scheme-auth.png">
      </p-tabPanel>
      <p-tabPanel header="Инфрастуктура">
        <img class="img-fluid" id="infr-auth" src="assets/images/infr-auth.png">
      </p-tabPanel>
      <p-tabPanel header="Swagger">
        <div class="embed-responsive embed-responsive-16by9 e2e-trusted-url">
          <iframe class="embed-responsive-item"
                  [src]="trustedSwaggerUrl"></iframe>
        </div>
      </p-tabPanel>
    </p-tabView>
  </p-panel>
</div>