
<h3 class="first">Список серверов ESB</h3>
<p-table #dt [columns]="cols" [value]="servers">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')">
        <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
        <input *ngSwitchCase="'address'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
        <input *ngSwitchCase="'description'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
        <p-multiSelect *ngSwitchCase="'stage'" [options]="stages" defaultLabel="Все"  (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>