<h2>Требования к сторонним системам</h2>
<div class="container-fluid">
<ul style="list-style-type:square;">
  <li><b>Схема взаимодействия </b> - Какие сегменты затрагивает интеграция, и куда идут информационные потоки (DMZ/КСПД) </li>
  <li><b>Реквизиты серверов </b> - список IP/domain name :PORT для открытия доступа на межсетевых экранах </li>
  <li><b>Тип взаимодействия </b> - SOAP/Rest/WebSocket/FTP, наличие описание WADL/WSDL/XSD/OPEN-API</li>
  <li><b>Валидация </b> - Требования к валидации данных, в т.ч. бизнес-логики, жесткая привязка к схеме данных, версионность </li>
  <li><b>Коды ошибок </b> - Описание как внешних кодов ошибок, так и внутренних возникающих на шине </li>
  <li><b>Авторизация </b> -  доменная/локальная/по сертификату, храним ли служебные учетки в secrets</li>
  <li><b>Мониторинг </b> - описаны требования к liveness/readyness проверкам </li>
  <li><b>Паттерны EIP </b> - какие механизмы EIP нужны дополнительно (throttling, amq, deadletter, datagrid, transformer...) </li>
  <li><b>Многопоточность </b> - нужна ли распределенная обработка в несколько потоков </li>
  <li><b>Ресурсы </b> - Требования по необходимым ресурсам системы (ядра/память) и количество экземпляров </li>
  <li><b>План релизов </b> - Предполагаемые сроки релизов для синхронизации шины и интегрируемых сервисов </li>
  <li><b>Список изменений </b> - Примечания и изменения </li>
</ul>



  <h2>Правила формирования имен проектов и URL:</h2>

  <p><b>Наименование проектов в Openshift’e: </b></p>

  <ul style="list-style-type:square;">
    <li><b>Формат: [Организация или дирекция]-[Наименование системы]</b></li>
    <li>  Где [Организация или дирекция]
    <li>GPN – если система глобальная в ГПН. Пример: GPN-SAPPO</li>
    <li>DRP – если система в ДРП. Пример: DRP-MobilCard
    <li>ESB – если проект инфраструктурный. Пример: ESB-SSO</li>
  </ul>

  2)                  Наименование роутов:
  Предложено два варианта, нужно выбрать какой лучше:
  2.1) Формат: [Наименование системы источника]- [Наименование организации].apps.rhc.gazprom-neft.local/[сервис]/[протокол]/[версия]/
  [Наименование организации] – аналогично пункту 1, кроме GPN. Если сервис глобальный на весь ГПН, то можно не указывать
  Примеры:
  mobilcard-drp.apps.rhc.gazprom-neft.local/reports/rest/v1/
  mobilcard-drp.apps.rhc.gazprom-neft.local/edi/amq/v1/
  etran-rzd.apps.rhc.gazprom-neft.local/invoice/rest/v1/
  sappo.apps.rhc.gazprom-neft.local/monitoring-center/rest/v1/

  2.2) Формат: esb.apps.rhc.gazprom-neft.local/[Наименование системы источника]- [Наименование организации]/[сервис]/[протокол]/[версия]/
  Примеры
  esb.apps.rhc.gazprom-neft.local/ mobilcard-drp/reports/rest/v1/
  esb.apps.rhc.gazprom-neft.local/etran-rzd/invoice/rest/v1/
  esb.apps.rhc.gazprom-neft.local/sappo/monitoring-center/rest/v1/

  3)                  В description проекта в Openshift указывать:
  •         Номер АЗ, по которой создавался
  •         Контактное лицо / владелец системы




</div>