<h1>Руководство по выживанию</h1>

<br>

<h6>Как мы работаем с самовыпущенными сертификатами</h6>

<!--<p>-->
    <!--Создаем пару ключ + сертификат:-->
    <!--<app-cp [(inputText)]="generateKeyPairCommand"></app-cp>-->

<!--</p>-->

<ol>
    <li><b>Создаем корневой ключ</b>></li>
    <app-cp [(inputText)]="generateCaKey"></app-cp>
    <li><b>Создаем корневой сертификат</b>>с его помощью будем подписывать наши самоподписанные сертификаты</li>
    <app-cp [(inputText)]="generateCaCert"></app-cp>
    <h6>Country Name (2 letter code) [RU]:</h6>
    <h6>State or Province Name (full name) [SPb]: </h6>
    <h6>Locality Name (eg, city) [SPb]:</h6>
    <h6>Organization Name (eg, company) [GPN]:</h6>
    <h6>Organizational Unit Name (eg, section) [GPN-AT]:</h6>
    <h6>Common Name (e.g. server FQDN or YOUR name) [*]:</h6>
    <h6>Email Address [esb-drcp@gazprom-neft.ru]:</h6>
    <li><b>Генерируем ключ нашего приложения</b>> Нужно указать имя файла ключа (amq.key)</li>
    <app-cp [(inputText)]="generateAppKey"></app-cp>
    <li><b>Создаем запрос на подписание открытого ключа (сертификата)</b> Важно правильно указать правильное доменное имя сервиса!</li>
    <app-cp [(inputText)]="signRequest"></app-cp>
    <li><b>Подписываем наш запрос при помощи самосгенеренного CA</b></li>
    <app-cp [(inputText)]="signCommand"></app-cp>
    <li><b>Создаем хранилище сертификатов для приложения</b> Оно должно содержать в себе закрытый ключ, чтобы шифровать исхощий трафик</li>
    <app-cp [(inputText)]="generateP12keystore"></app-cp>
    <li><b>Переделываем p12 хранилище в JKS</b> В хранилище пока будет только ключ, который нужно хранить в секрете. Не забываем пароли от хранилищ.</li>
    <app-cp [(inputText)]="importP12"></app-cp>
    <li><b>Добавляем открытые сертификаты в хранилище</b></li>
    <app-cp [(inputText)]="importCaCert"></app-cp>
    <app-cp [(inputText)]="importAppCert"></app-cp>
    <li><b>Создаем секрет с хранилищем</b></li>
    <app-cp [(inputText)]="generateAppSecret"></app-cp>
    <li><b>Создаем доверенное хранилище сертификатов для клиентских приложений</b></li>
    <app-cp [(inputText)]="clientCertAdd"></app-cp>
    <app-cp [(inputText)]="clientCertAdd2"></app-cp>
    <li><b>Создаем секрет для доверенного хранилища</b> Не забываем переключиться на проект/кластер клиента</li>
    <app-cp [(inputText)]="generateClientSecret"></app-cp>
    <li><b>Маунтим секреты в приложениях</b> Деплой конфиги должны содержать следующие разделы:</li>

    <pre>
       <code class="language-groovy" pCode>
      volumeMounts:
        - mountPath: /var/run/secrets/amq/serverkeystores
          name: amq-server

      volumes:
        - name: amq-server
          secret:
            defaultMode: 420
            secretName: amq-server-secret

        </code>
    </pre>
    <li><b>Настраиваем TLS termination</b> Редактируем роутер приложений. Если приложение умеет работать с сертификатами (например, наш AMQ) ставим passthrough</li>
    <h6>Если не умеет - выбираем re-encrypt, а в Destination CA подсовываем наш rootCA.crt</h6>


</ol>