<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-panel header="Получение данных из ОФД">
    <p-tabView>
        <p-tabPanel header="Статистика ККТС">
            <div class="row container-fluid">
                <div class="col-12 col-sm-10 col-md-6 col-lg-6 offset-0 offset-md-1 offset-sm-0">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="form-group">
                            <label class="offset-sm-0" for="inn">ИНН:</label>
                            <input type="text" id="inn" name="inn" [(ngModel)]="inn" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="offset-sm-0" for="kkt">ККТ:</label>
                            <input type="text" id="kkt" name="kkt" [(ngModel)]="kkt" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="dateFrom" class="col-12 col-sm-12 col-md-6">Дата начала</label>
                            <p-calendar id="dateFrom"
                                        ngModel
                                        class="col-12 col-sm-12 col-md-6"
                                        name="dateFrom"
                                        showIcon="true"
                                        showTime="true"
                                        required="true"
                                        dateFormat="yy-mm-dd"></p-calendar>
                        </div>

                        <div class="form-group">
                            <label for="dateFrom" class="col-12 col-sm-12 col-md-6">Дата окончания</label>
                            <p-calendar id="dateTo"
                                        ngModel
                                        name="dateTo"
                                        class="col-12 col-sm-12 col-md-6"
                                        showIcon="true"
                                        showTime="true"
                                        required="true"
                                        dateFormat="yy-mm-dd"></p-calendar>
                        </div>
                        <button class="btn btn-outline-secondary ml-auto" type="button" (click)="onAuth()"
                                *ngIf="!ofdService.isAuthenticated()">
                            Авторизоваться
                        </button>

                        <button class="btn btn-outline-warning ml-auto"
                                type="button"
                                (click)="onLogout()"
                                *ngIf="ofdService.isAuthenticated()">
                            Разлогиниться
                        </button>

                        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
                            Получить статистику
                        </button>
                        <!--<button class="btn btn-outline-secondary ml-auto" type="button" (click)="test()">-->
                        <!--тест-->
                        <!--</button>-->
                    </form>

                    <p-panel *ngIf="statistics && cashStat" header="ОФД виджет">

                        <table class="table-responsive-lg table-bordered">
                            <tr pTooltip="Лучшая АЗС" tooltipPosition="right">
                                <td><img src="assets/images/ofd/azs-50.svg" style="height: 50px"></td>
                                <td><h6>{{azsStat?.name}}</h6></td>
                                <td><h6>{{azsStat?.value}}</h6></td>
                            </tr>
                            <tr pTooltip="Лучшый оператор" tooltipPosition="right">
                                <td><img src="assets/images/ofd/operator-50.svg" style="height: 50px"></td>
                                <td><h6>{{operatorStat?.name}}</h6></td>
                                <td><h6>{{operatorStat?.value}}</h6></td>
                            </tr>
                            <tr pTooltip="Самый продаваемый товар" tooltipPosition="right">
                                <td><img src="assets/images/ofd/barrel-50.svg" style="height: 50px"></td>
                                <td><h6>{{itemStat?.name}}</h6></td>
                                <td><h6>{{itemStat?.value}}</h6></td>
                            </tr>
                            <tr pTooltip="Наибольшая выручка" tooltipPosition="right">
                                <td rowspan="2"><img src="assets/images/ofd/cash-50.svg" style="height: 50px"></td>
                                <td><h6>{{cashStat?.name}}</h6></td>
                                <td><h6>{{cashStat?.value}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6>{{ecashStat?.name}}</h6></td>
                                <td><h6>{{ecashStat?.value}}</h6></td>
                            </tr>
                        </table>
                    </p-panel>


                </div>
                <p-accordion *ngIf="statistics">
                    <p-accordionTab [selected]="true" header="Детально">


                        <p-table class="table-striped"
                                [(selection)]="selectedData" [paginator]="true"
                                [responsive]="true"
                                [rowsPerPageOptions]="[5,10,20,50]"
                                [rows]="10"
                                [value]="statistics?.Data"

                                selectionMode="single"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Тэг</th>
                                    <th>Пользователь</th>
                                    <th>ИНН</th>
                                    <th>Номер</th>
                                    <th>Дата</th>
                                    <th>Смена</th>
                                    <th>Операция</th>
                                    <th>Тариф</th>
                                    <th>Оператор</th>
                                    <th>Номер ККТ</th>
                                    <th>Зав. №</th>
                                </tr>
                            </ng-template>
                            <ng-template let-dt let-rowIndex="Tag" pTemplate="body">
                                <tr [pSelectableRow]="dt">
                                    <td>{{dt.Tag}} </td>
                                    <td>{{dt.User}}</td>
                                    <td>{{dt.UserInn}}</td>
                                    <td>{{dt.Number}}</td>
                                    <td>{{dt.DateTime}}</td>
                                    <td>{{dt.ShiftNumber}}</td>
                                    <td>{{dt.OperationType}}</td>
                                    <td>{{dt.TaxationType}}</td>
                                    <td>{{dt.Operator}}</td>
                                    <td>{{dt.KktRegNumber}}</td>
                                    <td>{{dt.FnFactoryNumber}}</td>
                                    <td>
                                        <div class="row">
                                            <p-button (onClick)="onDataItems(dt.Items)" icon="pi pi-info-circle"
                                                      style="padding-left: 10px" pTooltip="Детально по товарам"
                                                      tooltipPosition="left"></p-button>

                                            <p-button (onClick)="onData(dt)" icon="pi pi-info"
                                                      style="padding-left: 10px" pTooltip="Детально по чеку"
                                                      tooltipPosition="left"></p-button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </p-accordionTab>
                </p-accordion>


                <!--<h6 *ngIf="statistics">{{statistics?.Data | json}}</h6>-->
            </div>

            <p-dialog [(visible)]="itemViewEnabled"
                      class="container-fluid"
                      header="Список товаров"
                      positionLeft="100"
                      positionTop="50"
            >
                <table *ngIf="itemsList" class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма без НДС</th>
                        <th>Сумма</th>
                        <th>Метод расчета</th>
                        <th>Ставка НДС</th>
                        <th>Сумма НДС</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of itemsList">
                    <tr>
                        <td>{{item.Name}}</td>
                        <td>{{item.Price}}</td>
                        <td>{{item.Quantity}}</td>
                        <td>{{item.Nds00_TotalSumm}}</td>
                        <td>{{item.Total}}</td>
                        <td>{{item.CalculationMethod}}</td>
                        <td>{{item.NdsRate}}</td>
                        <td>{{item.NdsSumm}}</td>
                    </tr>
                    </tbody>
                </table>
            </p-dialog>


            <p-dialog [(visible)]="detailedDataViewEnabled"
                      class="container-fluid"
                      header="Детально по чеку"
                      positionLeft="200"
                      positionTop="100"
            >
                <table *ngIf="dataDetails" class="table table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <td>Тэг</td>
                        <td>{{dataDetails.Tag}}</td>
                    </tr>
                    <tr>
                        <td>Пользователь</td>
                        <td>{{dataDetails.User}}</td>
                    </tr>
                    <tr>
                        <td>ИНН</td>
                        <td>{{dataDetails.UserInn}}</td>
                    </tr>
                    <tr>
                        <td>Номер</td>
                        <td>{{dataDetails.Number}}</td>
                    </tr>
                    <tr>
                        <td>Дата</td>
                        <td>{{dataDetails.DateTime}}</td>
                    </tr>
                    <tr>
                        <td>Номер смены</td>
                        <td>{{dataDetails.ShiftNumber}}</td>
                    </tr>
                    <tr>
                        <td>Тип операции</td>
                        <td>{{dataDetails.OperationType}}</td>
                    </tr>
                    <tr>
                        <td>Тип тарифа</td>
                        <td>{{dataDetails.TaxationType}}</td>
                    </tr>
                    <tr>
                        <td>Оператор</td>
                        <td>{{dataDetails.Operator}}</td>
                    </tr>
                    <tr>
                        <td>Регистрационный номер ККТ</td>
                        <td>{{dataDetails.KktRegNumber}}</td>
                    </tr>
                    <tr>
                        <td>Номер фискального номер</td>
                        <td>{{dataDetails.FnFactoryNumber}}</td>
                    </tr>
                    <tr>
                        <td>Розничный адрес</td>
                        <td>{{dataDetails.RetailPlaceAddress}}</td>
                    </tr>
                    <tr>
                        <td>Адрес отправителя</td>
                        <td>{{dataDetails.SenderAddress}}</td>
                    </tr>
                    <tr>
                        <td>Адрес покупателя</td>
                        <td>{{dataDetails.BuyerAddress}}</td>
                    </tr>
                    <tr>
                        <td>Сумма НДС 18%</td>
                        <td>{{dataDetails.Nds18TotalSumm}}</td>
                    </tr>
                    <tr>
                        <td>Сумма НДС 10%</td>
                        <td>{{dataDetails.Nds10TotalSumm}}</td>
                    </tr>
                    <tr>
                        <td>Сумма НДС</td>
                        <td>{{dataDetails.NdsNATotalSumm}}</td>
                    </tr>
                    <tr>
                        <td>Расчитанная сумма НДС 18%</td>
                        <td>{{dataDetails.Nds18CalculatedTotalSumm}}</td>
                    </tr>
                    <tr>
                        <td>Расчитанная сумма НДС 10%</td>
                        <td>{{dataDetails.Nds10CalculatedTotalSumm}}</td>
                    </tr>
                    <tr>
                        <td>Сумма без НДС</td>
                        <td>{{dataDetails.Nds00TotalSumm}}</td>
                    </tr>
                    <tr>
                        <td>Сумма всего</td>
                        <td>{{dataDetails.AmountTotal}}</td>
                    </tr>
                    <tr>
                        <td>Сумма наличными</td>
                        <td>{{dataDetails.AmountCash}}</td>
                    </tr>
                    <tr>
                        <td>Сумма электронными</td>
                        <td>{{dataDetails.AmountECash}}</td>
                    </tr>
                    <tr>
                        <td>Номер документа</td>
                        <td>{{dataDetails.DocumentNumber}}</td>
                    </tr>
                    <tr>
                        <td>Фискальный признак документа</td>
                        <td>{{dataDetails.FiscalSign}}</td>
                    </tr>
                    <tr>
                        <td>Десятичный фискальный признак документа</td>
                        <td>{{dataDetails.DecimalFiscalSign}}</td>
                    </tr>
                    <tr>
                        <td>Вервия форматирования</td>
                        <td>{{dataDetails.FormatVersion}}</td>
                    </tr>
                    <tr>
                        <td>Общее количество</td>
                        <td>{{dataDetails.AmountAdvance}}</td>
                    </tr>
                    <tr>
                        <td>Сумма кредитная</td>
                        <td>{{dataDetails.AmountLoan}}</td>
                    </tr>
                    <tr>
                        <td>Предоставление суммы</td>
                        <td>{{dataDetails.AmountGranting}}</td>
                    </tr>
                    <tr>
                        <td>Сайт налоговой</td>
                        <td>{{dataDetails.TaxAuthoritySite}}</td>
                    </tr>
                    <tr>
                        <td>Место расчета</td>
                        <td>{{dataDetails.CalculationPlace}}</td>
                    </tr>
                    <tr>
                        <td>Инн оператора</td>
                        <td>{{dataDetails.OperatorINN}}</td>
                    </tr>
                    </tbody>
                    <tfoot *ngFor="let prop of dataDetails.ExtraProperty">
                    <tr>
                        <td>prop.ExtraPropertyName</td>
                        <td>prop.ExtraPropertyValue</td>
                    </tr>
                    </tfoot>
                </table>
            </p-dialog>

        </p-tabPanel>
        <p-tabPanel header="Схема взаимодействия">
            <img class="img-fluid" id="scheme-mc-azsReport" src="assets/images/ofd/ofd-scheme.png">
        </p-tabPanel>
        <p-tabPanel header="Инфраструктура">
            <img class="img-fluid" id="scheme-infr" src="assets/images/ofd/ofd-infr.png">
        </p-tabPanel>
        <p-tabPanel header="Swagger">
            <div class="embed-responsive embed-responsive-16by9 e2e-trusted-url">
                <iframe class="embed-responsive-item"
                        [src]="trustedSwaggerUrl"></iframe>
            </div>
        </p-tabPanel>


    </p-tabView>
</p-panel>