<ul style="list-style-type:square;">
  <li><b>EIP (Enterprise Integration Patterns </b> - набор основных паттернов, используемых при проектировнии интеграций систем </li>
  <li><b>Apache Camel </b> - основная библиотека, которая в себе содержит реализацию паттернов EIP</li>
  <li><b>Java </b> - используется версия Java 8</li>
  <li><b>Angular </b> - Java Script фреймворк, на котором сделан фронт для шины </li>
  <li><b>EAP </b> - Red Hat Enterprise Application Platform - сервер приложений от компании Red Hat, в т.ч. для запуска Java EE приложений</li>
  <li><b>Fuse </b> - Red Hat Fuse  - сервер приложений, адаптированный под работу с библиотекой apache camel</li>
  <li><b>AMQ </b> - брокер сообщений, позволяющий обрабатывать очереди и подписки сообщений</li>
  <li><b>DataGrid </b> - механизм кеширования сообщений</li>
  <li><b>Openshift </b> - контейнерная платформа, на которой построена система</li>
  <li><b>Angular </b> - фронт фреймворк от Google, на котором написан нащ фронт</li>
</ul>