<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-panel header="Получение данных из ЭТРАН">
  <p-tabView>
    <p-tabPanel header="Накладные">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-6 offset-0 offset-md-1 offset-sm-0">

          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
              <label for="invoiceId">ID накладной</label>
              <input type="text" id="invoiceId" name="invoiceId" ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="invoiceNumber">Номер накладной</label>
              <input type="text" id="invoiceNumber" name="invoiceNumber" ngModel class="form-control">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Получить накладную</button>
          </form>

          <p-accordion>
            <p-accordionTab [selected]="true" header="Накладная">

          <table class="table-responsive-lg table-bordered" style="margin-top: 20px">
            <tr>
              <td rowspan="11"><img src="assets/images/etran/tank-gpn.svg" style="height: 200px"></td>
            </tr>
            <tr>
              <td><h6>Id накладной</h6></td>
              <td><h6>{{invoice?.invoiceID?.value}}</h6></td>
            </tr>
            <tr>
              <td><h6>Номер накладной</h6></td>
              <td><h6>{{invoice?.invUNP?.value}}</h6></td>
            </tr>
            <tr>
              <td><h6>Дата создания</h6></td>
              <td><h6>{{invoice?.invDateCreate?.value}}</h6></td>
            </tr>
            <tr>
              <td><h6>Состояние накладной</h6></td>
              <td><h6>{{invoice?.invoiceState?.value}}</h6></td>
            </tr>
            <tr>
              <td><h6>Наименование станции отправителя</h6></td>
              <td><h6>{{invoice?.invFromStationName?.value}}</h6></td>
            </tr>
            <tr>
              <td><h6>Наименование станции назначения</h6></td>
              <td><h6>{{invoice?.invToStationName?.value}}</h6></td>
            </tr>
            <tr>
              <td><h6>Наименование отправителя</h6></td>
              <td><h6>{{invoice?.invSenderName?.value}}</h6></td>
            </tr>
          </table>

            </p-accordionTab>

            <p-accordionTab header="Грузы">
                <p-table [responsive]="true"
                         [value]="invoice?.invFreight"
                         class="table table-striped table-dark">
                  <ng-template let-res pTemplate="body">
                    <tr>
                      <td>Наименование груза</td>
                      <td>{{res.freightAdditional?.value}}</td>
                    </tr>
                    <tr>
                      <td>Точное наименованиегруза</td>
                      <td>{{res.freightExactName?.value}}</td>
                    </tr>
                  </ng-template>
                </p-table>
            </p-accordionTab>

            <p-accordionTab header="Вагоны">
              <p-table [responsive]="true"
                       [value]="invoice?.invCar"
                       class="table table-striped table-dark">
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col-sm">Тип вагона</th>
                    <th scope="col-sm">Номер вагона</th>
                    <th scope="col-sm">Владелец вагона</th>
                  </tr>
                </ng-template>
                <ng-template let-car pTemplate="body">
                  <tr>
                    <td>{{car?.carTypeName?.value}}</td>
                    <td>{{car?.carNumber?.value}}</td>
                    <td>{{car?.carOwnerName?.value}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-accordionTab>

          </p-accordion>
        </div>
      </div>

              <!--<td><h6>{{invoice?.invSenderName?.value}}</h6></td>-->



            <!--<tr>-->
              <!--<td><h6>Наименование груза</h6></td>-->
              <!--<td><h6>{{invoice?.invFreight?.freightAdditional?.value}}</h6></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><h6>Точное наименования груза</h6></td>-->
              <!--<td><h6>{{invoice?.invFreight?.freightExactName?.value}}</h6></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><h6>Номер вагона</h6></td>-->
              <!--<td><h6>{{invoice?.invCar?.carNumber?.value}}</h6></td>-->
            <!--</tr>-->

        <!--</div>-->

      <!--</div>-->
      <!--<h6 *ngIf="invoice">{{invoice | json}}</h6>-->

    </p-tabPanel>
    <p-tabPanel header="Схема взаимодействия">
      <img class="img-fluid" id="scheme-etran-azsReport" src="assets/images/etran/etran-scheme.png">
    </p-tabPanel>
    <p-tabPanel header="Инфраструктура">
      <img class="img-fluid" id="scheme-infr" src="assets/images/etran/etran-infr.png">
    </p-tabPanel>
    <p-tabPanel header="Swagger">
      <div class="embed-responsive embed-responsive-16by9 e2e-trusted-url">
        <iframe class="embed-responsive-item" alt="Бэк-энд этрана недоступен"
                [src]="trustedSwaggerUrl"></iframe>
      </div>
    </p-tabPanel>
  </p-tabView>

</p-panel>
