<p-fieldset legend="Что это" [toggleable]="true">

  <h6>Enterprise Service Bus (сервисная шина данных) - связующее программное обеспечение, обеспечивающее централизованный и унифицированный событийно-ориентированный обмен сообщениями между различными информационными системами на принципах сервис-ориентированной архитектуры. </h6>

</p-fieldset>


<p-fieldset legend="Миссия" [toggleable]="true">

  <h2>Основные задачи, решаемые шиной</h2>
  <ul style="list-style-type:square;">
    <li>поддержка синхронного и асинхронного способа вызова служб;</li>
    <li>использование защищённого транспорта, с гарантированной доставкой сообщений, поддерживающего транзакционную модель;</li>
    <li>статическая и алгоритмическая маршрутизация сообщений;</li>
    <li>оступ к данным из сторонних информационных систем с помощью готовых или специально разработанных адаптеров;</li>
    <li>обработка и преобразование сообщений;</li>
    <li>оркестровка и хореография служб</li>
    <li>разнообразные механизмы контроля и управления (аудиты, протоколирование).</li>
  </ul>
</p-fieldset>

<p-fieldset legend="Команда" [toggleable]="true">
  <ul style="list-style-type:square;">
    <li><b>Гриненко Илья</b> - руководитель проекта</li>
    <li><b>Соколов Александр</b> - ведущий разработчик</li>
    <li><b>Телицын Сергей</b> -  Java разработчик</li>
    <li><b>Шерин Анатолий</b> -  бизнес аналитик</li>
    <li><b>Удалов Виталий</b> -  архитектор</li>
    <li><b>Бугаев Александр</b> - специалист службы ИБ </li>
    <li><b>Малахова Дарья</b> - инженер по автоматизированному тестированию</li>
    <li><b>Семенов Сергей</b> - администратор Openshift</li>

  </ul>


</p-fieldset>