<div class="container-fluid align-self-end">
    <p-panel header="Получение статистики из системы СКАУТ">
        <p-tabView>
            <p-tabPanel header="топливо">

                <app-unit-picker (selChanged)="selectorChanged($event)"></app-unit-picker>
                <div class="form-group container">
                    <div class="row">
                        <label class="control-label col-sm-2">По дням</label>
                        <p-inputSwitch (onChange)="handleFuelDaylyChange($event)"
                                       [(ngModel)]="daylyFuelChecked"
                                       class="col-sm-2"
                                       styleClass="padding-left: 20px">По дням
                        </p-inputSwitch>
                    </div>

                    <div class="row">
                        <div class="col-sm-2"></div>
                        <p-button (onClick)="fuel($event)"
                                  class="col-sm-2"
                                  label="Топливо"
                                  style="padding-left: 20px"
                                  styleClass="ui-button-success"></p-button>
                    </div>
                </div>

                <h5 *ngIf="fuelStatistic">Ответ по топливу:</h5>
                <br>


                <table *ngIf="fuelStatistic" class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col-sm-4">Дата</th>
                        <th scope="col-sm-4">Количество</th>
                        <th scope="col-sm-4">Примечание</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let interval of fuelStatistic?.intervals">
                    <tr>
                        <td>{{interval.begin | date:'dd/MM/yy'}} - {{interval.end | date:'dd/MM/yy'}} </td>
                        <td>{{interval.beginFuel.value}}</td>
                        <td>{{interval.beginFuel.noValueReason}}</td>
                    </tr>
                    </tbody>
                </table>
                <p-accordion>
                    <p-accordionTab header="Диаграмма последовательности для отчета по топливу">
                        <img class="img-fluid" id="scheme_infr" src="assets/images/scout/fuel_scheme.png">
                    </p-accordionTab>
                </p-accordion>

            </p-tabPanel>
            <p-tabPanel header="одометр">
                <app-unit-picker (selChanged)="selectorChanged($event)"></app-unit-picker>

                <div class="form-group container">
                    <label class="control-label col-sm-2">По дням</label>
                    <p-inputSwitch
                            (onChange)="handleOdoDaylyChange($event)"
                            [(ngModel)]="daylyOdoChecked"
                            class="col-sm-2"
                            styleClass="padding-left: 20px">По дням
                    </p-inputSwitch>

                    <div class="row">
                        <div class="col-sm-2"></div>
                        <p-button (onClick)="odometer($event)"
                                  class="col-sm-2"
                                  label="Одометр"
                                  style="padding-left: 20px"
                                  styleClass="ui-button-success"></p-button>
                    </div>
                </div>

                <h5 *ngIf="odoStatistic">Показания по одометру:</h5>
                <br>


                <table *ngIf="odoStatistic" class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col-sm-4">Дата</th>
                        <th scope="col-sm-4">Показанания начало</th>
                        <th scope="col-sm-4">Показанания конец</th>
                        <th scope="col-sm-4">Итоговое показание</th>
                        <th scope="col-sm-4">Примечание</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let odointerv of odoStatistic?.intervals">
                    <tr>
                        <td>{{odointerv.begin | date:'dd/MM/yy'}} - {{odointerv.end | date:'dd/MM/yy'}} </td>
                        <td>{{odointerv.beginMileageKm.value}}</td>
                        <td>{{odointerv.endMileageKm.value}}</td>
                        <td>{{odointerv.totalMileageKm.value}}</td>
                        <td>{{odointerv.totalMileageKm.noValueReason}} {{odointerv.beginMileageKm.noValueReason}}
                            {{odointerv.totalMileageKm.noValueReason}}</td>
                        <!--<td>{{odointerv.}}</td>-->
                    </tr>
                    </tbody>
                </table>
                <p-accordion>
                    <p-accordionTab header="Диаграмма последовательности для отчета по топливу">
                        <img class="img-fluid" id="scheme2" src="assets/images/scout/odo_scheme.png">
                    </p-accordionTab>
                </p-accordion>
            </p-tabPanel>

            <p-tabPanel header="местоположение">
                <app-unit-picker (selChanged)="selectorChanged($event)"></app-unit-picker>

                <div class="form-group container">
                    <label class="control-label col-sm-2">По дням</label>
                    <p-inputSwitch
                            [(ngModel)]="daylyTracksChecked"
                            class="col-sm-2"
                            styleClass="padding-left: 20px">По дням
                    </p-inputSwitch>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <p-button (onClick)="tracks($event)"
                                  class="col-sm-2"
                                  label="Местоположение"
                                  style="padding-left: 20px"
                                  styleClass="ui-button-success"></p-button>
                    </div>
                </div>

                <h5 *ngIf="tracksStatistic">Данные о местоположении:</h5>
                <br>

                <p-table id="scout_geo_table"
                         class="table-striped"
                         [paginator]="true"
                         [responsive]="true"
                         [rowsPerPageOptions]="[5,10,20,50]"
                         [rows]="10"
                         [value]="tracksStatistic?.trackPoints"
                         *ngIf="tracksStatistic"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Время</th>
                            <th>Широта</th>
                            <th>Долгота</th>
                            <th>Пробег</th>
                            <th>Длительность</th>
                            <th>Скорость</th>
                        </tr>
                    </ng-template>
                    <ng-template let-track let-rowIndex="id" pTemplate="body">
                        <tr [pSelectableRow]="track">
                            <td>{{track.time | date:'dd/MM/yy'}}</td>
                            <td>{{track.lat}}</td>
                            <td>{{track.lon}}</td>
                            <td>{{track.mileageM}}</td>
                            <td>{{track.duration}}</td>
                            <td>{{track.speedKmh}}</td>
                        </tr>
                    </ng-template>
                </p-table>



                <p-accordion>
                    <p-accordionTab header="Диаграмма последовательности для отчета по местоположеню">
                        <img class="img-fluid" id="scheme2" src="assets/images/scout/location_scheme.png">
                    </p-accordionTab>
                </p-accordion>
            </p-tabPanel>

            <p-tabPanel header="Инфраструктура">
                <img class="img-fluid" id="scheme1" src="assets/images/scout/infr_scheme.png">
            </p-tabPanel>
            <p-tabPanel header="Swagger">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe [src]="trustedSwaggerUrl"
                            class="embed-responsive-item"></iframe>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p-panel>
</div>








