<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img alt="" src="assets/images/logo-svg.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/scout" routerLinkActive="active">СКАУТ </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/crm" routerLinkActive="active">Личный кабинет</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/mc" routerLinkActive="active">Мобильная карта</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/etran" routerLinkActive="active">Этран</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ofd" routerLinkActive="active">ОФД</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/monitoring" routerLinkActive="active">Мониторинг</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wiki/esb" routerLinkActive="active">Wiki ESB</a>
      </li>
    </ul>
  </div>

  <h1 id="esb-header" class="esb-header">ESB сервисная шина</h1>
  <!--<img alt="" src="assets/images/snow_tree.png"  height="60px">-->

  <div class="btn-group dropleft">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{this.authService.roles?.preferred_username || "Аккаунт"}}
    </button>
    <div class="dropdown-menu">
      <li class="dropdown-item"><a href="http://localhost:8080/auth/esb-sso?clientId=portal&state=xyz&redirect_uri=http://localhost:4200/#success">Войти ESB-SSO</a></li>
      <li class="dropdown-item"><a routerLink="/signin">Войти DMZ => KSPD</a></li>

        <li *ngFor="let item of authService.arrayRoles" class="dropdown-item"><a style="cursor: pointer;">{{item}}</a>
        </li>
        <li><a
                (click)="authService.getRoles()"
                *ngIf="authService.isAuthenticated()"
                class="dropdown-item"
                class="nav-item dropdown-item">Обновить роли</a>
        </li>
        <li><a
                (click)="authService.logout()"
                *ngIf="authService.isAuthenticated()"
                class="dropdown-item"
                class="nav-item dropdown-item"><b>Выйти</b></a>
        </li>
    </div>
  </div>








</nav>

<router-outlet></router-outlet>




